# System
.DS_Store

# NPM
node_modules

# Composer
vendor/*
# This way, we can still use composers autoload for our own files:
!vendor/composer/*
!vendor/autoload.php

# php-cs-fixer
.php-cs-fixer.cache