[data-focal-point-handle] {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  appearance: none;
  padding: 0;
  border: none;
  display: block;
  outline: 0;
  width: 1px;
  height: 1px;
  border-radius: 99999px;
  background: white;
  outline: 1px solid white;
  cursor: move;
  user-select: all;
}
[data-focal-point-handle]:after {
  content: "";
  display: block;
  --size: 1.2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  box-shadow:
    inset 0 0 0 1px white,
    0 0 0 3px #2271b1,
    0 0 0 4px white;
}
[data-wp-focalpoint-wrap] {
  position: relative;
}
[data-wp-focalpoint-dragging] [data-wp-focalpoint-wrap] img {
  outline: 1px solid rgba(0 0 0 / 0.1);
}
[data-wp-focalpoint-dragging] .uploader-window {
  display: none !important;
}
.compat-field-focalpoint-input {
  display: none !important;
}

/* [data-focalpoint-preview] {
  position: absolute;
  z-index: 1000;
  width: 35%;
  box-sizing: border-box;
  top: 0;
  right: 0;
  height: 100%;
  width: 35%;
  background-size: cover;
} */